{% extends 'main/layout.html' %}
{% block content %}
    <form class="form-group" method="post" action="{% url 'add_disease' %}">
        {% csrf_token %}
        <div class="centered-content">{{ form.disease_name|escape }}</div>
        <div class="centered-content">{{ form.disease_description|escape }}</div>
        <span class="centered-content">{{ error }}</span>
        <div class="centered-content">
            <button type="submit" class="common-button accept-button">Сохранить запись</button>
        </div>
    </form>
{% endblock %}