{% extends 'main/layout.html' %}
{% block content %}
    <form method="post" action="{% url 'add_medication' %}">
        {% csrf_token %}
        <div class="centered-content">{{ form.medication_name|escape }}</div>
        <div class="centered-content">{{ form.medication_description|escape }}</div>
        <div class="centered-content">{{ form.expiration_date|escape }}</div>
        <span class="centered-content">{{ form.error }}</span>
        <div class="centered-content"><button type="submit" class="common-button">Сохранить запись</button></div>
    </form>
{% endblock %}