{% extends 'main/layout.html' %}
{% block content %}
    <div class="page-content-container">
        <div class="centered-content">
            <h1>Информация о болезни</h1>
        </div>
        <h2>Название</h2>
        <div class="description">{{ disease.disease_name }}</div>
        <h2>Описание</h2>
        <div class="description">{{ disease.disease_description }}</div>
        <h2>Сопутствующие симптомы</h2>
        <div class="description">
            <ul>
                {% for symptom in symptoms %}
                    <li><a class="name" href="{% url 'symptom' symptom.symptom_id %}">{{ symptom.symptom_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <h2>Лекарства от этой болезни</h2>
        <div class="description">
            <ul>
                {% for medication in medications %}
                    <li>{{ medication }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="centered-content">
            <a href="{% url 'edit_disease' disease.disease_id %}" class="common-button change-button">Изменить</a>
            <a href="{% url 'delete_disease' disease.disease_id %}" class="common-button delete-button">Удалить</a>
        </div>
    </div>
{% endblock %}