{% extends 'main/layout.html' %}
{% block content %}
    <form method="post" action="{% url 'edit_disease' pk=object.pk %}">
        {% csrf_token %}
        <div class="centered-content">{{ form.disease_name|escape }}</div>
        <div class="centered-content">{{ form.disease_description|escape }}</div>
        <span class="centered-content">{{ error }}</span>
        <div class="centered-content">
            <button type="submit" class="common-button accept-button">Сохранить изменения</button>
        </div>
    </form>
{% endblock %}