{% extends 'main/layout.html' %}
{% block content %}
    <p></p>
    <a href="{% url 'home' %}" class="common-button home-button">Вернуться на главную</a>
    <form method="post" action="{% url 'edit_medication' pk=object.pk %}">
        {% csrf_token %}
        {% csrf_token %}
        <div>{{ form.medication_name }}</div>
        <div>{{ form.medication_description }}</div>
        <div>{{ form.expiration_date }}</div>
        <span>{{ form.error }}</span>
        <div><button type="submit" class="common-button">Сохранить изменения</button></div>
    </form>
{% endblock %}