<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPharmacy</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>
        <h1>Домашняя аптечка</h1>
    </header>
    <nav class="main-menu">
        <ul>
            <li><a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Главная</a></li>
            <li><a class="{% if request.path == '/medications/' %}active{% endif %}" href="{% url 'medications' %}">Лекарства</a></li>
            <li><a class="{% if request.path == '/diseases/' %}active{% endif %}" href="{% url 'diseases' %}">Болезни</a></li>
            <li><a class="{% if request.path == '/symptoms/' %}active{% endif %}" href="{% url 'symptoms' %}">Симптомы</a></li>
        </ul>
    </nav>
    {% block content%}
    {% endblock %}
</body>
</html>