{% extends 'main/layout.html' %}
{% block content %}
    <div class="page-content-container">
        <div class="centered-content">
            <h1>Информация о лекарстве</h1>
        </div>
        <h2>Название</h2>
        <div class="description">{{ medication.medication_name }}</div>
        <h2>Описание</h2>
        <div class="description">{{ medication.medication_description }}</div>
        <h2>Применяется для лечения следующих болезней</h2>
        <div class="description">
            <ul>
                {% for disease in diseases %}
                    <li>{{ disease }}</li>
                {% endfor %}
            </ul>
        </div>
        <h2>Срок годности</h2>
        <div class="description">{{ medication.expiration_date }}</div>
        <div class="centered-content">
            <a href="{% url 'edit_medication' medication.medication_id %}" class="common-button change-button">Изменить</a>
            <a href="{% url 'delete_medication' medication.medication_id %}" class="common-button delete-button">Удалить</a>
        </div>
    </div>
{% endblock %}