{% extends 'main/layout.html' %}
{% block content %}
    <div class="page-content-container">
        <h1 class="statistic_information">По запросу "{{ search }}" найдено записей: {{ symptoms|length }}</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>№</th>
                    <th>ID</th>
                    <th>Название симптома</th>
                </tr>
            </thead>
            <tbody>
                {% for index, symptom in symptoms %}
                    <tr>
                        <td>{{ index }}</td>
                        <td>{{ symptom.symptom_id }}</td>
                        <td><a class="name" href="{% url 'symptom' symptom.symptom_id %}">{{ symptom.symptom_name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}