{% extends 'main/layout.html' %}
{% block content %}
    <div class="page-content-container">
        <h1 class="statistic_information">По запросу "{{ search }}" найдено записей: {{ diseases|length }}</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>№</th>
                    <th>ID</th>
                    <th>Название болезни</th>
                </tr>
            </thead>
            <tbody>
                {% for index, disease in diseases %}
                    <tr>
                        <td>{{ index }}</td>
                        <td>{{ disease.disease_id }}</td>
                        <td>
                            <a class="name" href="{% url 'disease' disease.disease_id %}">{{ disease.disease_name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}