{% extends 'main/layout.html' %}
{% block content %}
    <div class="page-content-container">
        <h1 class="statistic_information">По запросу "{{ search }}" найдено записей: {{ medications|length }}</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>№</th>
                    <th>ID</th>
                    <th>Название лекарства</th>
                    <th>Срок годности</th>
                </tr>
            </thead>
            <tbody>
                {% for index, medication in medications %}
                    <tr>
                        <td>{{ index }}</td>
                        <td>{{ medication.medication_id }}</td>
                        <td><a class="name" href="{% url 'medication' medication.medication_id %}">{{ medication.medication_name }}</a></td>
                        <td>{{ medication.expiration_date|date:"F d, Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
