{% extends 'main/layout.html' %}
{% block content %}
    <div class="page-content-container">
        <div class="centered-content">
            <h1>Фильтры</h1>
        </div>
        <form method="get" onsubmit="event.preventDefault(); submitForm();">
            <div class="centered-content">{{ form.search }}</div>
            <div class="centered-content">
                <button type="submit" class="common-button search-button">Найти</button>
            </div>
        </form>
    </div>
    <div class="page-content-container">
        <h1 class="statistic_information">{{ table_title }}</h1>
        <a href="{% url 'add_symptom' %}" class="common-button add-button">Добавить</a>
        <table border="1">
            <thead>
                <tr>
                    <th>№</th>
                    <th>ID</th>
                    <th>Название симптома</th>
                </tr>
            </thead>
            <tbody>
                {% for index, symptom in symptoms %}
                    <tr>
                        <td class="td-ds">{{ index }}</td>
                        <td class="td-ds">{{ symptom.symptom_id }}</td>
                        <td class="td-ds"><a class="name" href="{% url 'symptom' symptom.symptom_id %}">{{ symptom.symptom_name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function submitForm() {
            document.querySelector('form').submit();
        }
    </script>
{% endblock %}