:root {
    --primary-color: #0066cc;
    --secondary-color: #fff;
}

.search-panel {
    max-height: 50px; /* Высота закрытой панели */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    position: relative;
    background-color: var(--secondary-color);
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-panel-open {
    max-height: 300px; /* Высота открытой панели */
}

.search-panel-toggle {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.search-panel-toggle span {
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.search-panel-open .search-panel-toggle span {
    transform: rotate(180deg); /* Поворот стрелки при открытой панели */
}

.page-content-container {
    border: 2px solid black;
    border-radius: 16px;
    background-color: var(--secondary-color);
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    min-width: 600px;
}

.centered-content {
    text-align: center;
}

.statistic_information {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 0%;
}

.main-menu {
    background-color: #013569;
    padding: 10px;
}

nav {
    margin-bottom: 30px;
}

ul {
    margin-top: 0px;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.main-menu li {
    display: inline;
}

li {
    font-size: 20px;
}

.main-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.main-menu a.active {
    color: #ffc107;
    text-decoration: underline;
    border-color: #ffc107;
}

.main-menu a:hover {
    color: #ffc107;
}

.content-container {
    margin: 12px;
}

label {
    font-weight: bold;
    font-size: 27px;
    display: block;
    margin-bottom: 8px;
}

form {
    width: 100%;
}

input, select, textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 27px;
    min-width: 30px;
    width: 41.5%;
    padding: 8px;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

.search-input {
    border: 1px solid black;
    text-align: center;
    width: 500px;
    border-radius: 100px;
}

.description {
    font-size: 20px;
    margin: 0 0 30px;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #b1d8fc;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 27px;
}

table {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    border: none;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    border: none;
}

td:first-child {
    width: 5%;
}

td:nth-child(2) {
    width: 20%;
}

td:nth-child(3) {
    width: 40%;
}

td:nth-child(4) {
    width: 35%;
}

tr {
    border-bottom: 1px solid #666;
}

th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: none;
}

tr:hover td {
    background-color: #e0e0e0;
}

.td-ds:first-child {
    width: 5%;
}

.td-ds:nth-child(2) {
    width: 15%;
}

.td-ds:nth-child(3) {
    width: 80%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.common-button {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
}

.common-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.change-button,
.delete-button,
.add-button {
    padding: 10px 10px 10px 30px;
}

.change-button,
.delete-button {
    text-align: right;
    margin-bottom: 0px;
    margin-right: 5px;
    font-size: 16px;
}

.add-button {
    margin-top: 5px;
    background-image: url('../img/plus.png');
}

.add-button:hover {
    background-image: url('../img/plus_active.png');
}

.change-button {
    background-image: url('../img/pencil.png');
}

.change-button:hover {
    background-image: url('../img/pencil_active.png');
}

.delete-button {
    width: 70px;
    background-color: red;
    border-color: red;
    background-image: url('../img/garbage.png');
}

.delete-button:hover {
    color: red;
    background-image: url('../img/garbage_active.png');
}

.accept-button {
    background-color: green;
    border-color: green;
}

.accept-button:hover {
    color: green;
}

.search-button {
    width: 180px;
    border-radius: 100px;
}

.name {
}

.name:hover {
    color: #013569;
}
